<mat-toolbar color="primary"> Profile Viewer</mat-toolbar>

<div style="width: 400px; margin: auto;">
  <mat-form-field class="full-width" style="width: 100%; margin-top: 30px;">
    <input matInput placeholder="Github user name"  [(ngModel)]="userName">
  </mat-form-field>
  <br>
  <button (click)="search()"  mat-raised-button color="primary">Find Me</button> 
  
  <mat-spinner *ngIf="searching"></mat-spinner>
  
  <div   *ngIf="errmsg">
    <mat-card> NO DATA TO DISPLAY </mat-card>
  </div>
  

  
 <div *ngIf = "data">      

  <mat-card  class="card" style="margin-top: 15px;" >
    
    <mat-card-header >
      
      <mat-card-title>{{data?.name}}</mat-card-title>
      <mat-card-subtitle>{{data?.id}}</mat-card-subtitle>
      <mat-card-subtitle>
        <a href={{data?.html_url}} target="_blank">Github Profile</a>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{data?.avatar_url}}">
    <mat-card-content>
      <p>
      {{data?.login}} <br> <br>
       {{data?.location}} <br> <br>
       {{data?.email}}
      </p>
    </mat-card-content>
  </mat-card>
 </div>

  </div>
   

 


